.app {
  text-align: center;
  background-color: beige;
}

input {
  padding: 4px;
  margin-right: 8px;
}


ul {
  /* Remove bullet point  */
  list-style: none;
}

li {
  margin: 12px 0;
}

.delete-button {
  
  margin-left: 100px;
  background-color: red;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#add {
  
  margin-left: 8px;
  background-color: black;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#up {
  
  margin-left: 8px;
  background-color: green;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#n1{
  border: 2px solid black;
  border-radius: 4px;
  height: 15px;
  padding: 12px 20px;
}

#l1{
  font-size: 25px;
  text-align: center;
  
}
